!-- Xft settings -- !
Xft.dpi:        112
Xft.autohint:   false
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault

!-----Xterm settings-----!
xterm*faceName:Tamsyn
xterm*faceSize:10

!-----Urxvt settings-----!
urxvt*loginShell:       true
urxvt*scrollBar:        false
urxvt*secondaryScroll:  true
urxvt*saveLines:        65535
urxvt*cursorBlink:      false
urxvt.depth:            32
urxvt.geometry:         90x30
urxvt.transparent:      false
urxvt.fading:           0
urxvt.urgentOnBell:     false
urxvt.visualBell:       false
urxvt.saveLines:        50
urxvt.internalBorder:   0
urxvt.externalBorder:   0
urxvt.lineSpace:        0

! reclaim <Alt-s> and <Ctrl-Shift-*> shortcuts
urxvt*searchable-scrollback: M-S-s
urxvt*iso14755        : false
urxvt*iso14755_52     : false

! make Alt-arrow work
urxvt.keysym.M-Up     : \033[1;3A
urxvt.keysym.M-Down   : \033[1;3B
urxvt.keysym.M-Right  : \033[1;3C
urxvt.keysym.M-Left   : \033[1;3D
urxvt.keysym.M-Prior  : \033[5;3~
urxvt.keysym.M-Next   : \033[6;3~
urxvt.keysym.M-End    : \033[1;3F
urxvt.keysym.M-Home   : \033[1;3H

! make Ctrl-arrow work
urxvt.keysym.C-Up     : \033[1;5A
urxvt.keysym.C-Down   : \033[1;5B
urxvt.keysym.C-Right  : \033[1;5C
urxvt.keysym.C-Left   : \033[1;5D
urxvt.keysym.C-Prior  : \033[5;5~
urxvt.keysym.C-Next   : \033[6;5~
urxvt.keysym.C-End    : \033[1;5F
urxvt.keysym.C-Home   : \033[1;5H

! extensions (+ disable the selection popup)
urxvt.perl-ext-common : default,matcher,clipboard,-selection-popup

! extensions -> matcher: open URL with a left click
urxvt.urlLauncher     : xdg-open
urxvt*urlLauncher     : /usr/bin/chromium
urxvt*matcher.button  : 1

! extensions -> copy/paste
urxvt.keysym.C-C      : perl:clipboard:copy
urxvt.keysym.C-V      : perl:clipboard:paste
urxvt.keysym.C-M-v    : perl:clipboard:paste_escaped

urxvt*font            : -*-tamsyn-medium-*-*-*-14-*-*-*-*-*-*-* 
urxvt*boldfont        : -*-tamsyn-bold-*-*-*-14-*-*-*-*-*-*-* 

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
!! -----------------------------------------------------------------------------
*background: #1d2021
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! -----------------------------------------------------------------------------
! File: gruvbox-urxvt256.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 13 Dec 2013
! -----------------------------------------------------------------------------
URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

! vim: set fdm=marker fmr=<<<,>>> fdl=0:
