[user]
	email = chrzrdx@gmail.com
	name  = Abhinandan Panigrahi
[http]
	proxy = http://proxy.iiit.ac.in:8080
[https]
	proxy = http://proxy.iiit.ac.in:8080
[core]
    editor = nvim
[push]
    default = simple
