gtk/.config/gtk-2.0/gtkfilechooser.ini

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

mpv/.config/mpv/watch_later/

neovim/.config/nvim/*
!neovim/.config/nvim/init.vim

st-git/*
!st-git/PKGBUILD
!st-git/*.diff

vim/.vim

vimperator/.vimperator/info

zsh/.zsh/cache
zsh/.zsh/zsh_history
